<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Purple Admin</title>
<!-- plugins:css -->


<link rel="stylesheet" href="../assets/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../assets/css/themify-icons.css">
<link rel="stylesheet" href="../assets/css/vendor.bundle.base.css">
<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="../assets/css/style.css">
<!-- End layout styles -->
<link rel="shortcut icon" href="../assets/images/favicon.png" />   

<script src="../assets/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script type="text/javascript" src="../assets/js/off-canvas.js"></script>
<script type="text/javascript" src="../assets/js/misc.js"></script>
<script type="text/javascript" src="../assets/js/settings.js"></script>
<script type="text/javascript" src="../assets/js/todolist.js"></script>
<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../assets/js/jquery_validate.js" charset="utf-8"></script>         

