<!-- Add Query -->

<div class="modal fade" id="add_query" role="dialog" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Add Query Type</h5>
      	</div>
      	<div class="modal-body">
   					<div class="container-fluid">
								<div id="msg"></div>
	
									<form action="" id="manage-user">	
										
										
										<div class="form-group">
											<label for="exampleInputPassword4">Query Name</label>
                        <input type="text" name = "name" class="form-control" id="name" placeholder="Name">
										</div>	

									</form>
						</div>
				</div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="save_query">Save</button>
	        <button type="button" class="btn btn-secondary cancel">Cancel</button>
	      </div>
      </div>
    </div>
  </div>

 <!-- End add query -->

 <!-- update Query -->

 <div class="modal fade" id="update_query" role="dialog" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Update Query Type</h5>
      	</div>
      	<div class="modal-body">
   					<div class="container-fluid">
								<div id="msg"></div>
	
									<form action="" id="manage-user">	
										<input type="hidden" name="id" id = "query_id" value="">
										
										<div class="form-group">
											<label for="exampleInputPassword4">Query Name</label>
                        <input type="text" name = "name" class="form-control" id="query_name" placeholder="Name">
										</div>	

									</form>
						</div>
				</div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="update_query_save">Save</button>
	        <button type="button" class="btn btn-secondary cancel">Cancel</button>
	      </div>
      </div>
    </div>
  </div>

 <!-- End update query -->

 <!-- Query Reply -->

 <% if(user) { %>
<div class="modal fade" id="patient_reply" role="dialog" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Reply to patient</h5>
      	</div>
      	<div class="modal-body">
   				<div class="container-fluid">
					<div id="msg"></div>

						<form action="" id="manage-user">	
							<input type="hidden" name="id" id = "id" value="">
							<input type="hidden" name="mob" id = "mob" value="">

							<div class="form-group">
								<label for="username">Patient Message</label>
								<textarea class="form-control" rows="2" id = "patient_msg"> sdf</textarea>
							</div>
							
							<div class="form-group">
								<label for="username">Reply</label>
								<textarea class="form-control" id="message" name = "message" rows="4" required></textarea>
							</div>

							<div class="form-group">
								<label for="username">Select Type</label>
								<select class="form-select" name = "query_type" id = "query_type">
									<option value="">Please select</option>
									<% if(typeof query_types !== 'undefined') { %>
									<% query_types.forEach(function(item1) { %>
										<option value="<%= item1.id %>"><%= item1.name %></option>
									  <% }) %>
									  <% } %>
								</select>
							</div>

						</form>
					</div>
				</div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="reply_by_admin">Save</button>
	        <button type="button" class="btn btn-secondary cancel">Cancel</button>
	      </div>
      </div>
    </div>
  </div>
  <% } %>