<!-- Add Query -->

<div class="modal fade" id="add_query" role="dialog" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Add Query Type</h5>
      	</div>
      	<div class="modal-body">
   					<div class="container-fluid">
								<div id="msg"></div>
	
									<form action="" id="manage-user">	
										
										
										<div class="form-group">
											<label for="exampleInputPassword4">Query Name</label>
                        <input type="text" name = "name" class="form-control" id="name" placeholder="Name">
										</div>	

									</form>
						</div>
				</div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="save_query">Save</button>
	        <button type="button" class="btn btn-secondary cancel">Cancel</button>
	      </div>
      </div>
    </div>
  </div>

 <!-- End add query -->

 <!-- update Query -->

 <div class="modal fade" id="update_query" role="dialog" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Update Query Type</h5>
      	</div>
      	<div class="modal-body">
   					<div class="container-fluid">
								<div id="msg"></div>
	
									<form action="" id="manage-user">	
										<input type="hidden" name="id" id = "query_id" value="">
										
										<div class="form-group">
											<label for="exampleInputPassword4">Query Name</label>
                        <input type="text" name = "name" class="form-control" id="query_name" placeholder="Name">
										</div>	

									</form>
						</div>
				</div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="update_query_save">Save</button>
	        <button type="button" class="btn btn-secondary cancel">Cancel</button>
	      </div>
      </div>
    </div>
  </div>

 <!-- End update query -->